/* override css styles of the main theme here */

.page-tag {
    font-size: 14px;
    font-family: 'Raleway', 'Helvetica Neue', 'Arial', sans-serif;
    letter-spacing: -0.005rem;
    font-weight: 400;
    color: #666 !important;
    font-style: normal;
    margin-right: 5px;
    margin-left: 0px;
    display: flex;
  }

.meta {
    display:block !important;
}


/* Nested Unordered List */

section.main .content .markdown ul > li {
    list-style-type: disc;
}

section.main .content .markdown ul > li > ul > li {
    list-style-type: circle;
}

section.main .content .markdown ul > li > ul > li > ul > li {
    list-style-type: square;
}


section.main .content .markdown ul > li > ol > li {
    list-style-type: decimal;
}
  
section.main .content .markdown ol > li > ul > li {
    list-style-type: disc;
}

section.main .content .markdown ol > li > ul > li > ul > li {
    list-style-type: circle;
}

